<header class="vlt-header vlt-header--default vlt-header--dark">
        <div class="vlt-navbar vlt-navbar--main vlt-navbar--transparent vlt-navbar--sticky vlt-navbar--white-text-on-top">
            <div class="container">
                <div class="vlt-navbar-inner">
                    <div class="vlt-navbar-inner--left">
                        <div class="d-flex align-items-center justify-content-center h-100">
                            <!--Logo--><a class="vlt-navbar-logo" href="index.html"><img class="black" src="assets/img/root/logo-black.png" alt="" style="height: 25px;" loading="lazy"><img class="white" src="assets/img/root/logo-white.png" alt="" style="height: 25px;" loading="lazy"></a>
                        </div>
                    </div>
                    <div class="vlt-navbar-inner--right">
                        <div class="d-flex align-items-center justify-content-center h-100">
                            <nav class="vlt-nav vlt-nav--default">
                                <!--Menu-->
                                <ul class="sf-menu" data-back-text="Back">
                                        <ul class="sub-menu">
                                            <li class=" current-menu-item"><a href="index.html"><span>Home 01</span></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><a href="/projects"><span>Projects</span></a>
                                        <ul class="sub-menu">
                                            <li class="menu-item-has-children left"><a href="/services"><span>Services</span></a>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children left"><a href="/about"><span>About Us</span></a>
                                        <ul class="sub-menu">
                                             <li class="menu-item-has-children left"><a href="/our-team"><span>Our Team</span></a>
                                        </ul>
                                    </li>       
                                    <li class="menu-item-has-children left"><a href="/blog"><span>Blog</span></a>
                                        <ul class="sub-menu">
                                            <li class="menu-item-has-children left"><a href="/gallery"><span>Gallery</span></a>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children left"><a href="/contact"><span>Contact</span></a>
                                
                                    </li>
                                </ul>
                            </nav>
                            <!--Buttons-->
                            <div class="vlt-navbar-buttons d-flex align-items-center"><a class="vlt-search-icon js-search-form-open" href="#"><i class="icon-search"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>