<header class="vlt-header vlt-header--fullscreen vlt-header--dark">
        <div class="vlt-navbar vlt-navbar--main vlt-navbar--transparent vlt-navbar--sticky vlt-navbar--white-text-on-top vlt-navbar--transparent vlt-navbar--sticky vlt-navbar--white-text-on-top">
            <div class="container">
                <div class="vlt-navbar-inner">
                    <div class="vlt-navbar-inner--left">
                        <div class="d-flex align-items-center justify-content-center h-100">
                            <!--Logo--><a class="vlt-navbar-logo" href="index.html"><img class="black" src="assets/img/root/logo-black.png" alt="" style="height: 25px;" loading="lazy"><img class="white" src="assets/img/root/logo-white.png" alt="" style="height: 25px;" loading="lazy"></a>
                        </div>
                    </div>
                    <div class="vlt-navbar-inner--right">
                        <div class="d-flex align-items-center justify-content-center h-100">
                            <!--Buttons-->
                            <div class="vlt-navbar-buttons d-flex align-items-center"><a class="vlt-menu-burger js-fullscreen-menu-toggle" href="#"><span class="line-one"></span><span class="line-two"></span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>