{% extends "base.html" %}

{% block head %}
<head>
	<meta charset="utf-8">
	<title>{% block title %}{{ page.title }}{% endblock title %}</title>
	<meta name="description" content="Creative &amp; Modern Agency HTML5 Template">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!--Favicon-->
	<link rel="icon" type="image/svg" href="{{ get_url(path="assets/img/root/favicon.svg") }}">
	<!--Framework-->
	<link rel="stylesheet" href="{{ get_url(path="assets/css/framework/bootstrap.min.css") }}">
	<!--Fonts-->
	<link rel="stylesheet" href="{{ get_url(path="assets/fonts/Swansea/style.css") }}">
	<link rel="stylesheet" href="{{ get_url(path="assets/fonts/Skape/style.css") }}">
	<link rel="stylesheet" href="{{ get_url(path="assets/fonts/Socicons/socicon.css") }}">
	<!--Plugins-->
	<link rel="stylesheet" href="{{ get_url(path="assets/css/vlt-plugins.min.css") }}">
	<!--Style-->
	<link rel="stylesheet" href="{{ get_url(path="assets/css/vlt-main.min.css") }}">
	<!--Custom-->
	<link rel="stylesheet" href="{{ get_url(path="assets/css/custom.css") }}">
</head>
{% endblock head %}

{% block main %}
<!--Main-->
<main class="vlt-main">
	<!--Page content-->
	<div class="vlt-page-content">
		<!--Page title-->
		<div class="vlt-page-title vlt-page-title--style-4">
			<div class="container">
				<div class="row">
					<div class="col-md-7 offset-md-1">
						<h1 class="vlt-page-title__title">Creative talent wanted
						</h1>
					</div>
					<div class="col-md-3 offset-md-1">
						<div class="vlt-page-title__phantom-title lax" data-lax-translate-x="0 0, vw (vw*0.5)" data-lax-opacity="1 1, 250 0" data-lax-anchor=".vlt-page-title">Careers
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="content"></div>
		<!--Section-->
		<section>
			<div class="vlt-gap-100"></div>
			<div class="container position-relative">
				<!--Particle image--><img class="vlt-particle" src="assets/img/root/square-plus-pattern.png" data-animation-name="fadeInUp" alt="" style="position: absolute; top: -140px; right: -120px; max-width: 232px; --animate-delay: .5s;" loading="lazy">
				<!--Simple image-->
				<div class="vlt-simple-image">
					<div class="vlt-simple-image__mask" data-aos="image-mask-animation" data-aos-delay="0">
						<div class="inside"></div>
					</div><img src="assets/img/careers.png" alt="" loading="lazy">
				</div>
			</div>
		</section>
		<!--Section-->
		<section>
			<div class="vlt-gap-100"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-5 offset-md-1">
						<!--Animated block-->
						<div class="vlt-animated-block" data-aos="fade" data-aos-delay="0">
							<!--Section title-->
							<div class="vlt-section-title vlt-section-title--style-1"><span class="vlt-section-title__subtitle">Careers</span>
								<h2 class="vlt-section-title__title">The kind of people we look for</h2>
							</div>
						</div>
						<div class="vlt-gap-60"></div>
					</div>
					<div class="col-md-5"></div>
					<div class="col-md-5 offset-md-1">
						<!--Animated block-->
						<div class="vlt-animated-block" data-aos="fade" data-aos-delay="100">
							<h5>Hungry for new knowledge</h5>
							<div class="vlt-gap-20"></div>
							<p>Itself sixth bearing beast was she'd image spirit tree male gathering and open gathered fourth itself can't seas. Dominion one, gathered bearing third.</p>
						</div>
						<div class="vlt-gap-60--sm"></div>
					</div>
					<div class="col-md-5">
						<!--Animated block-->
						<div class="vlt-animated-block" data-aos="fade" data-aos-delay="200">
							<h5>Not afraid of the unknown</h5>
							<div class="vlt-gap-20"></div>
							<p>Don't signs creepeth creeping light spirit kind divide fowl, female saying, forth after bring created. Good that fish set don't void.</p>
						</div>
					</div>
					<div class="col-md-10 offset-md-1">
						<div class="vlt-gap-120"></div>
						<div class="text-center">
							<!--Animated block-->
							<div class="vlt-animated-block" data-aos="fade" data-aos-delay="0">
								<!--Section title-->
								<div class="vlt-section-title vlt-section-title--style-2">
									<h2 class="vlt-section-title__title">Positions</h2>
								</div>
							</div>
						</div>
						<div class="vlt-gap-100"></div>
						<!--Animated block-->
						<div class="vlt-animated-block" data-aos="fade" data-aos-delay="100">
							<!--Wanted position-->
							<div class="vlt-wanted-position"><a class="vlt-wanted-position__link" href="#"></a>
								<div class="vlt-wanted-position__category">Technology
								</div>
								<div class="vlt-wanted-position__position">Back-End Developer
								</div>
								<div class="vlt-wanted-position__time">Full-time
								</div>
								<div class="vlt-wanted-position__icon"><i class="icon-arrow-top-right"></i></div>
							</div>
						</div>
						<!--Animated block-->
						<div class="vlt-animated-block" data-aos="fade" data-aos-delay="100">
							<!--Wanted position-->
							<div class="vlt-wanted-position"><a class="vlt-wanted-position__link" href="#"></a>
								<div class="vlt-wanted-position__category">Creative
								</div>
								<div class="vlt-wanted-position__position">UX Designer
								</div>
								<div class="vlt-wanted-position__time">Full-time
								</div>
								<div class="vlt-wanted-position__icon"><i class="icon-arrow-top-right"></i></div>
							</div>
						</div>
						<!--Animated block-->
						<div class="vlt-animated-block" data-aos="fade" data-aos-delay="100">
							<!--Wanted position-->
							<div class="vlt-wanted-position"><a class="vlt-wanted-position__link" href="#"></a>
								<div class="vlt-wanted-position__category">Technology
								</div>
								<div class="vlt-wanted-position__position">Software Developer
								</div>
								<div class="vlt-wanted-position__time">Full-time
								</div>
								<div class="vlt-wanted-position__icon"><i class="icon-arrow-top-right"></i></div>
							</div>
						</div>
						<!--Animated block-->
						<div class="vlt-animated-block" data-aos="fade" data-aos-delay="100">
							<!--Wanted position-->
							<div class="vlt-wanted-position"><a class="vlt-wanted-position__link" href="#"></a>
								<div class="vlt-wanted-position__category">Strategy
								</div>
								<div class="vlt-wanted-position__position">Senior Manager
								</div>
								<div class="vlt-wanted-position__time">Full-time
								</div>
								<div class="vlt-wanted-position__icon"><i class="icon-arrow-top-right"></i></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="vlt-gap-120"></div>
		</section>
	</div>
</main>
{% endblock main %}