{% extends "base.html" %}

{% block head %}
<head>
	<meta charset="utf-8">
	<title>{% block title %}{{ page.title }}{% endblock title %}</title>
	<meta name="description" content="Creative &amp; Modern Agency HTML5 Template">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!--Favicon-->
	<link rel="icon" type="image/svg" href="{{ get_url(path="assets/img/root/favicon.svg") }}">
	<!--Framework-->
	<link rel="stylesheet" href="{{ get_url(path="assets/css/framework/bootstrap.min.css") }}">
	<!--Fonts-->
	<link rel="stylesheet" href="{{ get_url(path="assets/fonts/Swansea/style.css") }}">
	<link rel="stylesheet" href="{{ get_url(path="assets/fonts/Skape/style.css") }}">
	<link rel="stylesheet" href="{{ get_url(path="assets/fonts/Socicons/socicon.css") }}">
	<!--Plugins-->
	<link rel="stylesheet" href="{{ get_url(path="assets/css/vlt-plugins.min.css") }}">
	<!--Style-->
	<link rel="stylesheet" href="{{ get_url(path="assets/css/vlt-main.min.css") }}">
	<!--Custom-->
	<link rel="stylesheet" href="{{ get_url(path="assets/css/custom.css") }}">
</head>
{% endblock head %}

{% block main %}
<!--Main-->
<main class="vlt-main">
	<!--Page content-->
	<div class="vlt-page-content">
		<!--Page title-->
		<div class="vlt-page-title vlt-page-title--style-3 jarallax"><img class="jarallax-img" src="assets/img/contact-page-title.png" alt="" loading="lazy">
			<div class="vlt-page-title__overlay"></div><a class="vlt-page-title__scroll-to vlt-scroll-to" href="#content"><i class="icon-arrow-down"></i></a>
			<div class="container">
				<h1 class="vlt-page-title__title lax" data-lax-translate-y="0 0, vh (vw*0.25)" data-lax-opacity="1 1, (vh*0.5) 0" data-lax-anchor=".vlt-page-title">Contact
				</h1>
			</div>
		</div>
		<div id="content"></div>
		<!--Section-->
		<section>
			<div class="vlt-gap-120"></div>
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<!--Animated block-->
						<div class="vlt-animated-block" data-aos="fade" data-aos-delay="0">
							<h2>Get in Touch</h2>
						</div>
						<div class="vlt-gap-60"></div>
					</div>
					<div class="col-lg-8">
						<!--Animated block-->
						<div class="vlt-animated-block" data-aos="fade" data-aos-delay="100">
							<!--Contact form-->
							<form class="vlt-contact-form vlt-contact-form--style-2" novalidate="novalidate">
								<div class="vlt-form-row two-col">
									<div class="vlt-form-group">
										<input class="vlt-form-control" type="text" name="name" required="required" placeholder=" ">
										<label class="vlt-form-label">Your name*</label>
									</div>
									<div class="vlt-form-group">
										<input class="vlt-form-control" type="email" name="email" required="required" placeholder=" ">
										<label class="vlt-form-label">Email address*</label>
									</div>
								</div>
								<div class="vlt-form-row two-col">
									<div class="vlt-form-group">
										<input class="vlt-form-control" type="tel" name="phone" placeholder=" ">
										<label class="vlt-form-label">Phone number</label>
									</div>
									<div class="vlt-form-group">
										<input class="vlt-form-control" type="text" name="company" placeholder=" ">
										<label class="vlt-form-label">Company</label>
									</div>
								</div>
								<div class="vlt-form-group">
									<input class="vlt-form-control" type="text" name="title" required="required" placeholder=" ">
									<label class="vlt-form-label">Title*</label>
								</div>
								<div class="vlt-form-group">
									<textarea class="vlt-form-control" name="message" rows="5" placeholder=" "></textarea>
									<label class="vlt-form-label">Message*</label>
								</div>
								<div class="message success">Your message is successfully sent...</div>
								<div class="message danger">Sorry something went wrong!</div>
								<div class="vlt-gap-40"></div>
								<!--Button-->
								<button class="vlt-btn vlt-btn--secondary vlt-btn--lg">Submit
								</button>
							</form>
						</div>
						<div class="vlt-gap-60--md"></div>
					</div>
					<div class="col-lg-4">
						<div class="vlt-pl-70 vlt-pl-0--md">
							<div class="row">
								<div class="col-lg-12 col-md-6">
									<!--Animated block-->
									<div class="vlt-animated-block" data-aos="fade" data-aos-delay="200">
										<h5>General Info</h5>
										<div class="vlt-gap-20"></div>
										<p class="lh-2">4503 Dane Street, Los Angeles <br>858-923-5899 <br>hello@skape.com</p>
									</div>
									<div class="vlt-gap-60"></div>
								</div>
								<div class="col-lg-12 col-md-6">
									<!--Animated block-->
									<div class="vlt-animated-block" data-aos="fade" data-aos-delay="300">
										<h5>Careers & Interships</h5>
										<div class="vlt-gap-20"></div>
										<p class="lh-2">Third, greater land great third? <br>Visit our <a href="careers.html">Careers page.</a></p>
									</div>
									<div class="vlt-gap-40"></div>
									<!--Animated block-->
									<div class="vlt-animated-block" data-aos="fade" data-aos-delay="400">
										<div class="has-black-color"><a class="vlt-social-icon vlt-social-icon--style-1" href="#">Fb.</a><a class="vlt-social-icon vlt-social-icon--style-1" href="#">Tw.</a><a class="vlt-social-icon vlt-social-icon--style-1" href="#">In.</a><a class="vlt-social-icon vlt-social-icon--style-1" href="#">Ln.</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="vlt-gap-120"></div>
			<div class="container position-relative">
				<!--Particle image--><img class="vlt-particle" src="assets/img/root/square-plus-pattern.png" data-animation-name="fadeInUp" alt="" style="position: absolute; top: -140px; right: -120px; max-width: 232px; --animate-delay: .5s;" loading="lazy">
				<!--Animated block-->
				<div class="vlt-animated-block" data-aos="fade" data-aos-delay="0">
					<!--Google map-->
					<div id="map" style="height: 550px;"></div>
				</div>
			</div>
			<div class="vlt-gap-120"></div>
		</section>
	</div>
</main>
{% endblock main %}  