{% extends "base.html" %}

{% block head %}
<head>
	<meta charset="utf-8">
	<title>{% block title %}{{ page.title }}{% endblock title %}</title>
	<meta name="description" content="Creative &amp; Modern Agency HTML5 Template">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!--Favicon-->
	<link rel="icon" type="image/svg" href="{{ get_url(path="assets/img/root/favicon.svg") }}">
	<!--Framework-->
	<link rel="stylesheet" href="{{ get_url(path="assets/css/framework/bootstrap.min.css") }}">
	<!--Fonts-->
	<link rel="stylesheet" href="{{ get_url(path="assets/fonts/Swansea/style.css") }}">
	<link rel="stylesheet" href="{{ get_url(path="assets/fonts/Skape/style.css") }}">
	<link rel="stylesheet" href="{{ get_url(path="assets/fonts/Socicons/socicon.css") }}">
	<!--Plugins-->
	<link rel="stylesheet" href="{{ get_url(path="assets/css/vlt-plugins.min.css") }}">
	<!--Style-->
	<link rel="stylesheet" href="{{ get_url(path="assets/css/vlt-main.min.css") }}">
	<!--Custom-->
	<link rel="stylesheet" href="{{ get_url(path="assets/css/custom.css") }}">
</head>
{% endblock head %}
	
{% block main %}
<!--Main-->
<main class="vlt-main">
	<!--Page content-->
	<div class="vlt-page-content">
		<!--Page title-->
		<div class="vlt-page-title vlt-page-title--style-4">
			<div class="container">
				<div class="row">
					<div class="col-md-7 offset-md-1">
						<h1 class="vlt-page-title__title">We are creative people
						</h1>
					</div>
					<div class="col-md-3 offset-md-1">
						<div class="vlt-page-title__phantom-title lax" data-lax-translate-x="0 0, vw (vw*0.5)" data-lax-opacity="1 1, 250 0" data-lax-anchor=".vlt-page-title">Team
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="content"></div>
		<!--Section-->
		<section>
			<div class="vlt-gap-120"></div>
			<div class="container position-relative">
				<!--Particle image--><img class="vlt-particle" src="assets/img/root/square-plus-pattern.png" data-animation-name="fadeInUp" alt="" style="position: absolute; top: -140px; right: -120px; max-width: 232px; --animate-delay: .5s;" loading="lazy">
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<!--Animated block-->
						<div class="vlt-animated-block" data-aos="fade" data-aos-delay="0">
							<!--Team member-->
							<div class="vlt-team-member vlt-team-member--style-1">
								<div class="vlt-team-member__avatar"><img src="assets/img/team-member-01.png" alt="" loading="lazy">
									<div class="vlt-team-member__socials"><a class="vlt-social-icon vlt-social-icon--style-4" href="#"><i class="socicon-facebook"></i></a><a class="vlt-social-icon vlt-social-icon--style-4" href="#"><i class="socicon-twitter"></i></a><a class="vlt-social-icon vlt-social-icon--style-4" href="#"><i class="socicon-linkedin"></i></a>
									</div>
								</div>
								<div class="vlt-team-member__content">
									<h5 class="vlt-team-member__name">Jayson Scott
									</h5>
									<p class="vlt-team-member__function">President / CEO
									</p>
								</div>
							</div>
						</div>
						<div class="vlt-gap-40--sm"></div>
					</div>
					<div class="col-lg-3 col-md-6">
						<!--Animated block-->
						<div class="vlt-animated-block" data-aos="fade" data-aos-delay="100">
							<!--Team member-->
							<div class="vlt-team-member vlt-team-member--style-1">
								<div class="vlt-team-member__avatar"><img src="assets/img/team-member-02.png" alt="" loading="lazy">
									<div class="vlt-team-member__socials"><a class="vlt-social-icon vlt-social-icon--style-4" href="#"><i class="socicon-facebook"></i></a><a class="vlt-social-icon vlt-social-icon--style-4" href="#"><i class="socicon-twitter"></i></a><a class="vlt-social-icon vlt-social-icon--style-4" href="#"><i class="socicon-linkedin"></i></a>
									</div>
								</div>
								<div class="vlt-team-member__content">
									<h5 class="vlt-team-member__name">Amanda Cole
									</h5>
									<p class="vlt-team-member__function">Senior Designer
									</p>
								</div>
							</div>
						</div>
						<div class="vlt-gap-40--sm"></div>
					</div>
					<div class="col-lg-3 col-md-6">
						<!--Animated block-->
						<div class="vlt-animated-block" data-aos="fade" data-aos-delay="200">
							<!--Team member-->
							<div class="vlt-team-member vlt-team-member--style-1">
								<div class="vlt-team-member__avatar"><img src="assets/img/team-member-03.png" alt="" loading="lazy">
									<div class="vlt-team-member__socials"><a class="vlt-social-icon vlt-social-icon--style-4" href="#"><i class="socicon-facebook"></i></a><a class="vlt-social-icon vlt-social-icon--style-4" href="#"><i class="socicon-twitter"></i></a><a class="vlt-social-icon vlt-social-icon--style-4" href="#"><i class="socicon-linkedin"></i></a>
									</div>
								</div>
								<div class="vlt-team-member__content">
									<h5 class="vlt-team-member__name">Andrew Holmes
									</h5>
									<p class="vlt-team-member__function">Senior Developer
									</p>
								</div>
							</div>
						</div>
						<div class="vlt-gap-40--sm"></div>
					</div>
					<div class="col-lg-3 col-md-6">
						<!--Animated block-->
						<div class="vlt-animated-block" data-aos="fade" data-aos-delay="300">
							<!--Team member-->
							<div class="vlt-team-member vlt-team-member--style-1">
								<div class="vlt-team-member__avatar"><img src="assets/img/team-member-04.png" alt="" loading="lazy">
									<div class="vlt-team-member__socials"><a class="vlt-social-icon vlt-social-icon--style-4" href="#"><i class="socicon-facebook"></i></a><a class="vlt-social-icon vlt-social-icon--style-4" href="#"><i class="socicon-twitter"></i></a><a class="vlt-social-icon vlt-social-icon--style-4" href="#"><i class="socicon-linkedin"></i></a>
									</div>
								</div>
								<div class="vlt-team-member__content">
									<h5 class="vlt-team-member__name">Margaret Watson
									</h5>
									<p class="vlt-team-member__function">Project Manager
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="vlt-gap-70"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<!--Animated block-->
						<div class="vlt-animated-block" data-aos="fade" data-aos-delay="0">
							<!--Team member-->
							<div class="vlt-team-member vlt-team-member--style-3">
								<div class="vlt-team-member__avatar"><img src="assets/img/team-member-07.png" alt="" loading="lazy">
									<div class="vlt-team-member__content">
										<h5 class="vlt-team-member__text" data-marquee=""><span data-marquee-text="Hi! My name is David Hudson. I’m creative Art Director.">Hi! My name is David Hudson. I’m creative Art Director.</span><span data-marquee-text="Hi! My name is David Hudson. I’m creative Art Director.">Hi! My name is David Hudson. I’m creative Art Director.</span><span data-marquee-text="Hi! My name is David Hudson. I’m creative Art Director.">Hi! My name is David Hudson. I’m creative Art Director.</span></h5>
										<div class="vlt-team-member__socials"><a class="vlt-social-icon vlt-social-icon--style-4" href="#"><i class="socicon-facebook"></i></a><a class="vlt-social-icon vlt-social-icon--style-4" href="#"><i class="socicon-twitter"></i></a><a class="vlt-social-icon vlt-social-icon--style-4" href="#"><i class="socicon-linkedin"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="vlt-gap-40--sm"></div>
					</div>
					<div class="col-md-4">
						<!--Animated block-->
						<div class="vlt-animated-block" data-aos="fade" data-aos-delay="100">
							<!--Team member-->
							<div class="vlt-team-member vlt-team-member--style-2">
								<div class="vlt-team-member__avatar"><img src="assets/img/team-member-05.png" alt="" loading="lazy">
									<div class="vlt-team-member__socials"><a class="vlt-social-icon vlt-social-icon--style-4" href="#"><i class="socicon-facebook"></i></a><a class="vlt-social-icon vlt-social-icon--style-4" href="#"><i class="socicon-twitter"></i></a><a class="vlt-social-icon vlt-social-icon--style-4" href="#"><i class="socicon-linkedin"></i></a>
									</div>
								</div>
								<div class="vlt-team-member__content">
									<h5 class="vlt-team-member__name">Sarah Hubbard
									</h5>
									<p class="vlt-team-member__function">Photographer
									</p>
								</div>
							</div>
						</div>
						<div class="vlt-gap-40--sm"></div>
					</div>
					<div class="col-md-4">
						<!--Animated block-->
						<div class="vlt-animated-block" data-aos="fade" data-aos-delay="200">
							<!--Team member-->
							<div class="vlt-team-member vlt-team-member--style-2">
								<div class="vlt-team-member__avatar"><img src="assets/img/team-member-06.png" alt="" loading="lazy">
									<div class="vlt-team-member__socials"><a class="vlt-social-icon vlt-social-icon--style-4" href="#"><i class="socicon-facebook"></i></a><a class="vlt-social-icon vlt-social-icon--style-4" href="#"><i class="socicon-twitter"></i></a><a class="vlt-social-icon vlt-social-icon--style-4" href="#"><i class="socicon-linkedin"></i></a>
									</div>
								</div>
								<div class="vlt-team-member__content">
									<h5 class="vlt-team-member__name">Daniel Jacobs
									</h5>
									<p class="vlt-team-member__function">Senior Project Manager
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="vlt-gap-80"></div>
			<div class="container position-relative">
				<!--Particle image--><img class="vlt-particle" src="assets/img/root/square-plus-pattern.png" data-animation-name="fadeInRight" alt="" style="position: absolute; bottom: -140px; left: -120px; max-width: 232px; --animate-delay: .5s;" loading="lazy">
				<div class="row no-gutters">
					<div class="col-lg-3 col-md-6">
						<!--Animated block-->
						<div class="vlt-animated-block" data-aos="fade" data-aos-delay="0">
							<!--Team member-->
							<div class="vlt-team-member vlt-team-member--style-4">
								<div class="vlt-team-member__avatar"><img src="assets/img/team-member-08.png" alt="" loading="lazy">
									<div class="vlt-team-member__content">
										<h5 class="vlt-team-member__name">Jenna Cantrell
										</h5>
										<p class="vlt-team-member__function">Designer
										</p>
										<div class="vlt-team-member__socials"><a class="vlt-social-icon vlt-social-icon--style-4" href="#"><i class="socicon-facebook"></i></a><a class="vlt-social-icon vlt-social-icon--style-4" href="#"><i class="socicon-twitter"></i></a><a class="vlt-social-icon vlt-social-icon--style-4" href="#"><i class="socicon-linkedin"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<!--Animated block-->
						<div class="vlt-animated-block" data-aos="fade" data-aos-delay="100">
							<!--Team member-->
							<div class="vlt-team-member vlt-team-member--style-4">
								<div class="vlt-team-member__avatar"><img src="assets/img/team-member-09.png" alt="" loading="lazy">
									<div class="vlt-team-member__content">
										<h5 class="vlt-team-member__name">Aron Bowers
										</h5>
										<p class="vlt-team-member__function">Developer
										</p>
										<div class="vlt-team-member__socials"><a class="vlt-social-icon vlt-social-icon--style-4" href="#"><i class="socicon-facebook"></i></a><a class="vlt-social-icon vlt-social-icon--style-4" href="#"><i class="socicon-twitter"></i></a><a class="vlt-social-icon vlt-social-icon--style-4" href="#"><i class="socicon-linkedin"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<!--Animated block-->
						<div class="vlt-animated-block" data-aos="fade" data-aos-delay="200">
							<!--Team member-->
							<div class="vlt-team-member vlt-team-member--style-4">
								<div class="vlt-team-member__avatar"><img src="assets/img/team-member-10.png" alt="" loading="lazy">
									<div class="vlt-team-member__content">
										<h5 class="vlt-team-member__name">Maria Houston
										</h5>
										<p class="vlt-team-member__function">Manager
										</p>
										<div class="vlt-team-member__socials"><a class="vlt-social-icon vlt-social-icon--style-4" href="#"><i class="socicon-facebook"></i></a><a class="vlt-social-icon vlt-social-icon--style-4" href="#"><i class="socicon-twitter"></i></a><a class="vlt-social-icon vlt-social-icon--style-4" href="#"><i class="socicon-linkedin"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<!--Animated block-->
						<div class="vlt-animated-block" data-aos="fade" data-aos-delay="300">
							<!--Team member-->
							<div class="vlt-team-member vlt-team-member--style-4">
								<div class="vlt-team-member__avatar"><img src="assets/img/team-member-11.png" alt="" loading="lazy">
									<div class="vlt-team-member__content">
										<h5 class="vlt-team-member__name">Clarice Holmes
										</h5>
										<p class="vlt-team-member__function">Photographer
										</p>
										<div class="vlt-team-member__socials"><a class="vlt-social-icon vlt-social-icon--style-4" href="#"><i class="socicon-facebook"></i></a><a class="vlt-social-icon vlt-social-icon--style-4" href="#"><i class="socicon-twitter"></i></a><a class="vlt-social-icon vlt-social-icon--style-4" href="#"><i class="socicon-linkedin"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="vlt-gap-120"></div>
		</section>
		<!-- Section awards-->
		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-10 offset-md-1">
						<div class="text-center">
							<!--Animated block-->
							<div class="vlt-animated-block" data-aos="fade" data-aos-delay="0">
								<!--Section title-->
								<div class="vlt-section-title vlt-section-title--style-2">
									<h2 class="vlt-section-title__title">Awards</h2>
								</div>
							</div>
						</div>
						<div class="vlt-gap-100"></div>
						<!--Animated block-->
						<div class="vlt-animated-block" data-aos="fade" data-aos-delay="100">
							<!--Award item-->
							<div class="vlt-award-item"><a class="vlt-award-item__link" href="#"></a>
								<div class="vlt-award-item__name">Awwwards: Site of the Day
								</div>
								<div class="vlt-award-item__category">Photography
								</div>
								<div class="vlt-award-item__year">2020
								</div>
								<div class="vlt-award-item__icon"><i class="icon-arrow-top-right"></i></div>
							</div>
						</div>
						<!--Animated block-->
						<div class="vlt-animated-block" data-aos="fade" data-aos-delay="100">
							<!--Award item-->
							<div class="vlt-award-item"><a class="vlt-award-item__link" href="#"></a>
								<div class="vlt-award-item__name">Awwwards: Developer Award
								</div>
								<div class="vlt-award-item__category">Nightcar
								</div>
								<div class="vlt-award-item__year">2019
								</div>
								<div class="vlt-award-item__icon"><i class="icon-arrow-top-right"></i></div>
							</div>
						</div>
						<!--Animated block-->
						<div class="vlt-animated-block" data-aos="fade" data-aos-delay="100">
							<!--Award item-->
							<div class="vlt-award-item"><a class="vlt-award-item__link" href="#"></a>
								<div class="vlt-award-item__name">FWA: Site of the Day
								</div>
								<div class="vlt-award-item__category">Lemon City
								</div>
								<div class="vlt-award-item__year">2019
								</div>
								<div class="vlt-award-item__icon"><i class="icon-arrow-top-right"></i></div>
							</div>
						</div>
						<!--Animated block-->
						<div class="vlt-animated-block" data-aos="fade" data-aos-delay="100">
							<!--Award item-->
							<div class="vlt-award-item"><a class="vlt-award-item__link" href="#"></a>
								<div class="vlt-award-item__name">Awwwards: Honorable Mention
								</div>
								<div class="vlt-award-item__category">Object
								</div>
								<div class="vlt-award-item__year">2018
								</div>
								<div class="vlt-award-item__icon"><i class="icon-arrow-top-right"></i></div>
							</div>
						</div>
						<!--Animated block-->
						<div class="vlt-animated-block" data-aos="fade" data-aos-delay="100">
							<!--Award item-->
							<div class="vlt-award-item"><a class="vlt-award-item__link" href="#"></a>
								<div class="vlt-award-item__name">Awwwards: Site of the Day
								</div>
								<div class="vlt-award-item__category">Creative People
								</div>
								<div class="vlt-award-item__year">2018
								</div>
								<div class="vlt-award-item__icon"><i class="icon-arrow-top-right"></i></div>
							</div>
						</div>
						<!--Animated block-->
						<div class="vlt-animated-block" data-aos="fade" data-aos-delay="100">
							<!--Award item-->
							<div class="vlt-award-item"><a class="vlt-award-item__link" href="#"></a>
								<div class="vlt-award-item__name">CSS Design Awards: Site of the Day
								</div>
								<div class="vlt-award-item__category">Morning
								</div>
								<div class="vlt-award-item__year">2017
								</div>
								<div class="vlt-award-item__icon"><i class="icon-arrow-top-right"></i></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="vlt-gap-120"></div>
		</section>
	</div>
</main>
{% endblock main %}     