{% extends "base.html" %}

{% block head %}
<head>
	<meta charset="utf-8">
	<title>{% block title %}{{ page.title }}{% endblock title %}</title>
	<meta name="description" content="Creative &amp; Modern Agency HTML5 Template">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!--Favicon-->
	<link rel="icon" type="image/svg" href="{{ get_url(path="assets/img/root/favicon.svg") }}">
	<!--Framework-->
	<link rel="stylesheet" href="{{ get_url(path="assets/css/framework/bootstrap.min.css") }}">
	<!--Fonts-->
	<link rel="stylesheet" href="{{ get_url(path="assets/fonts/Swansea/style.css") }}">
	<link rel="stylesheet" href="{{ get_url(path="assets/fonts/Skape/style.css") }}">
	<link rel="stylesheet" href="{{ get_url(path="assets/fonts/Socicons/socicon.css") }}">
	<!--Plugins-->
	<link rel="stylesheet" href="{{ get_url(path="assets/css/vlt-plugins.min.css") }}">
	<!--Style-->
	<link rel="stylesheet" href="{{ get_url(path="assets/css/vlt-main.min.css") }}">
	<!--Custom-->
	<link rel="stylesheet" href="{{ get_url(path="assets/css/custom.css") }}">
</head>
{% endblock head %}
	
{% block main %}
<!--Main-->
<main class="vlt-main">
	<!--Page content-->
	<div class="vlt-page-content">
		<!--Page title-->
		<div class="vlt-page-title vlt-page-title--style-3 jarallax"><img class="jarallax-img" src="assets/img/single-work-title-02.png" alt="" loading="lazy">
			<div class="vlt-page-title__overlay"></div><a class="vlt-page-title__scroll-to vlt-scroll-to" href="#content"><i class="icon-arrow-down"></i></a>
			<div class="container">
				<h1 class="vlt-page-title__title lax" data-lax-translate-y="0 0, vh (vw*0.25)" data-lax-opacity="1 1, (vh*0.5) 0" data-lax-anchor=".vlt-page-title">Mobile App
				</h1>
			</div>
		</div>
		<div id="content"></div>
		<!--Section-->
		<section class="has-extra-light-gray-background-color">
			<div class="vlt-gap-30"></div>
			<div class="container">
				<div class="row">
					<div class="col-6 col-md-3">
						<!--Animated block-->
						<div class="vlt-animated-block" data-aos="fade" data-aos-delay="0">
							<dl>
								<dt>Company:</dt>
								<dd>Indesign Inc.</dd>
							</dl>
						</div>
						<div class="vlt-gap-30--sm"></div>
					</div>
					<div class="col-6 col-md-3">
						<!--Animated block-->
						<div class="vlt-animated-block" data-aos="fade" data-aos-delay="100">
							<dl>
								<dt>Client:</dt>
								<dd>Michael Watts</dd>
							</dl>
						</div>
						<div class="vlt-gap-30--sm"></div>
					</div>
					<div class="col-6 col-md-3">
						<!--Animated block-->
						<div class="vlt-animated-block" data-aos="fade" data-aos-delay="200">
							<dl>
								<dt>Date:</dt>
								<dd>02 Feb, 2020</dd>
							</dl>
						</div>
					</div>
					<div class="col-6 col-md-3">
						<!--Animated block-->
						<div class="vlt-animated-block" data-aos="fade" data-aos-delay="300">
							<dl>
								<dt>Website:</dt>
								<dd><a href="example.com">example.com</a></dd>
							</dl>
						</div>
					</div>
				</div>
			</div>
			<div class="vlt-gap-30"></div>
		</section>
		<!--Section-->
		<section>
			<div class="vlt-gap-120"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 offset-md-2">
						<div class="text-center">
							<!--Animated block-->
							<div class="vlt-animated-block" data-aos="fade" data-aos-delay="0">
								<!--Section title-->
								<div class="vlt-section-title vlt-section-title--style-1">
									<h2 class="vlt-section-title__title">About Project</h2>
									<p class="vlt-section-title__text">Deep light land beginning form fish there brought fifth forth earth make cattle seasons every spirit one can't behold, creepeth fish thing male his him darkness darkness night tree.Given give make creature won't, yielding said good Seed seed form replenish deep.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="vlt-gap-120"></div>
			<div class="container position-relative">
				<!--Particle image--><img class="vlt-particle" src="assets/img/root/square-plus-pattern.png" data-animation-name="fadeInUp" alt="" style="position: absolute; top: -114px; right: -114px; max-width: 232px; --animate-delay: .5s;" loading="lazy">
				<!--Simple image-->
				<div class="vlt-simple-image">
					<div class="vlt-simple-image__mask" data-aos="image-mask-animation" data-aos-delay="0">
						<div class="inside"></div>
					</div><img src="assets/img/single-work-07.png" alt="" loading="lazy">
				</div>
				<div class="vlt-gap-30"></div>
				<div class="row">
					<div class="col-md-8">
						<div class="row">
							<div class="col-md-6">
								<!--Simple image-->
								<div class="vlt-simple-image">
									<div class="vlt-simple-image__mask" data-aos="image-mask-animation" data-aos-delay="0">
										<div class="inside"></div>
									</div><img src="assets/img/single-work-08.png" alt="" loading="lazy">
								</div>
							</div>
							<div class="col-md-6">
								<div class="vlt-gap-30--sm"></div>
								<!--Simple image-->
								<div class="vlt-simple-image">
									<div class="vlt-simple-image__mask" data-aos="image-mask-animation" data-aos-delay="0">
										<div class="inside"></div>
									</div><img src="assets/img/single-work-09.png" alt="" loading="lazy">
								</div>
							</div>
							<div class="col-md-12">
								<div class="vlt-gap-30"></div>
								<!--Simple image-->
								<div class="vlt-simple-image">
									<div class="vlt-simple-image__mask" data-aos="image-mask-animation" data-aos-delay="0">
										<div class="inside"></div>
									</div><img src="assets/img/single-work-11.png" alt="" loading="lazy">
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="vlt-gap-30--sm"></div>
						<!--Simple image-->
						<div class="vlt-simple-image">
							<div class="vlt-simple-image__mask" data-aos="image-mask-animation" data-aos-delay="0">
								<div class="inside"></div>
							</div><img src="assets/img/single-work-10.png" alt="" loading="lazy">
						</div>
					</div>
				</div>
			</div>
			<div class="vlt-gap-120"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="text-center">
							<!--Animated block-->
							<div class="vlt-animated-block" data-aos="fade" data-aos-delay="0">
								<!--Proccess-->
								<div class="vlt-proccess">
									<div class="vlt-proccess__number">01
									</div>
									<h5 class="vlt-proccess__title">Analysis &amp; Idea
									</h5>
									<p class="vlt-proccess__text">Branding and digital are forte, given the state of the world, think.
									</p>
								</div>
							</div>
						</div>
						<div class="vlt-gap-60--sm"></div>
					</div>
					<div class="col-md-4">
						<div class="text-center">
							<!--Animated block-->
							<div class="vlt-animated-block" data-aos="fade" data-aos-delay="100">
								<!--Proccess-->
								<div class="vlt-proccess">
									<div class="vlt-proccess__number">02
									</div>
									<h5 class="vlt-proccess__title">Design &amp; Development
									</h5>
									<p class="vlt-proccess__text">Dominion it air bearing subdue seed very wherein, moving seas.
									</p>
								</div>
							</div>
						</div>
						<div class="vlt-gap-60--sm"></div>
					</div>
					<div class="col-md-4">
						<div class="text-center">
							<!--Animated block-->
							<div class="vlt-animated-block" data-aos="fade" data-aos-delay="200">
								<!--Proccess-->
								<div class="vlt-proccess">
									<div class="vlt-proccess__number">03
									</div>
									<h5 class="vlt-proccess__title">Testing &amp; Launch
									</h5>
									<p class="vlt-proccess__text">Land very had you and god make void forth said all and greater.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="vlt-gap-120"></div>
		</section>
		<!--Section-->
		<section class="has-white-color jarallax"><img class="jarallax-img" src="assets/img/testimonials-background.png" alt="" loading="lazy">
			<div class="vlt-gap-150"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 offset-md-2">
						<div class="text-center">
							<!--Animated block-->
							<div class="vlt-animated-block" data-aos="fade" data-aos-delay="0">
								<!--Testimonial-->
								<div class="vlt-testimonial vlt-testimonial--style-1">
									<div class="vlt-testimonial__content">“ In earth herb gathering bring dominion shall life <br>first shall set two let gathered yielding me <br>second second fill. Bring seasons made. <br>For let place saying forth make. ”</div>
									<div class="vlt-testimonial__meta">
										<div>
											<h6 class="vlt-testimonial__title">Peter Daniels
											</h6><span class="vlt-testimonial__function">President / CEO Indesign Inc.</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="vlt-gap-150"></div>
		</section>
		<!--Section-->
		<section class="has-extra-light-gray-background-color">
			<div class="vlt-gap-120"></div>
			<div class="container">
				<div class="text-center">
					<!--Animated block-->
					<div class="vlt-animated-block" data-aos="fade" data-aos-delay="0">
						<!--Section title-->
						<div class="vlt-section-title vlt-section-title--style-1">
							<h2 class="vlt-section-title__title">Related Projects</h2>
						</div>
					</div>
				</div>
				<div class="vlt-gap-100"></div>
				<div class="vlt-isotope-grid" data-columns="3" data-layout="masonry" data-x-gap="30|30" data-y-gap="60|60">
					<div class="grid-sizer"></div>
					<div class=" grid-item filter-design">
						<!--Portfolio item-->
						<article class="vlt-work vlt-work--style-1">
							<div class="vlt-work__media"><a class="vlt-work__link has-cursor" href="#"></a><img src="assets/img/portfolio/grid/grid-4-col-1.png" alt="" loading="lazy">
							</div>
							<div class="vlt-work__meta">
								<h5 class="vlt-work__title"><a href="#">Composition</a>
								</h5><span class="vlt-work__category">Design</span>
							</div>
						</article>
					</div>
					<div class=" grid-item filter-photography">
						<!--Portfolio item-->
						<article class="vlt-work vlt-work--style-1">
							<div class="vlt-work__media"><a class="vlt-work__link has-cursor" href="#"></a><img src="assets/img/portfolio/grid/grid-4-col-2.png" alt="" loading="lazy">
							</div>
							<div class="vlt-work__meta">
								<h5 class="vlt-work__title"><a href="#">Photography</a>
								</h5><span class="vlt-work__category">Photography</span>
							</div>
						</article>
					</div>
					<div class=" grid-item filter-branding">
						<!--Portfolio item-->
						<article class="vlt-work vlt-work--style-1">
							<div class="vlt-work__media"><a class="vlt-work__link has-cursor" href="#"></a><img src="assets/img/portfolio/grid/grid-4-col-3.png" alt="" loading="lazy">
							</div>
							<div class="vlt-work__meta">
								<h5 class="vlt-work__title"><a href="#">Packaging</a>
								</h5><span class="vlt-work__category">Branding</span>
							</div>
						</article>
					</div>
				</div>
			</div>
			<div class="vlt-gap-120"></div>
		</section>
		<!--Page navigation-->
		<section class="vlt-page-navigation vlt-page-navigation--style-1 has-black-color">
			<div class="vlt-gap-130"></div>
			<div class="container">
				<div class="text-center">
					<!--Stroke text-->
					<div class="vlt-stroke-text vlt-stroke-text--lg"><a href="single-work-03.html" target="_self">Next project</a>
					</div>
				</div>
			</div>
			<div class="vlt-gap-130"></div>
		</section>
	</div>
</main>
{% endblock main %}     

