{% extends "base.html" %}

{% block head %}
<head>
	<meta charset="utf-8">
	<title>{% block title %}{{ page.title }}{% endblock title %}</title>
	<meta name="description" content="Creative &amp; Modern Agency HTML5 Template">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!--Favicon-->
	<link rel="icon" type="image/svg" href="{{ get_url(path="assets/img/root/favicon.svg") }}">
	<!--Framework-->
	<link rel="stylesheet" href="{{ get_url(path="assets/css/framework/bootstrap.min.css") }}">
	<!--Fonts-->
	<link rel="stylesheet" href="{{ get_url(path="assets/fonts/Swansea/style.css") }}">
	<link rel="stylesheet" href="{{ get_url(path="assets/fonts/Skape/style.css") }}">
	<link rel="stylesheet" href="{{ get_url(path="assets/fonts/Socicons/socicon.css") }}">
	<!--Plugins-->
	<link rel="stylesheet" href="{{ get_url(path="assets/css/vlt-plugins.min.css") }}">
	<!--Style-->
	<link rel="stylesheet" href="{{ get_url(path="assets/css/vlt-main.min.css") }}">
	<!--Custom-->
	<link rel="stylesheet" href="{{ get_url(path="assets/css/custom.css") }}">
</head>
{% endblock head %}
	
{% block main %}
<!--Main-->
<main class="vlt-main">
	<!--Page content-->
	<div class="vlt-page-content">
		<!--Page title-->
		<div class="vlt-page-title vlt-page-title--style-4">
			<div class="container">
				<div class="row">
					<div class="col-md-7 offset-md-1">
						<h1 class="vlt-page-title__title">We build modern experiences
						</h1>
					</div>
					<div class="col-md-3 offset-md-1">
						<div class="vlt-page-title__phantom-title lax" data-lax-translate-x="0 0, vw (vw*0.5)" data-lax-opacity="1 1, 250 0" data-lax-anchor=".vlt-page-title">Services
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="content"></div>
		<!--Section-->
		<section class="position-relative">
			<!--Particle image--><img class="vlt-particle" src="assets/img/root/square-plus-pattern-long.png" data-animation-name="fadeInRight" alt="" style="position: absolute; bottom: 0; right: 0; max-width: 210px; --animate-delay: .5s;" loading="lazy">
			<div class="vlt-gap-120"></div>
			<div class="vlt-gap-120"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<!--Particle image--><img class="vlt-particle" src="assets/img/root/square-plus-pattern.png" data-animation-name="fadeInUp" alt="" style="position: absolute; top: -115px; left: -120px; max-width: 232px; --animate-delay: .5s;" loading="lazy">
						<div class="position-relative">
							<!--Particle image--><img class="vlt-particle" src="assets/img/service-image-04.png" data-animation-name="fadeInUp" alt="" style="position: absolute; top: -120px; right: -100px; max-width: 263px; --animate-delay: 1s;" loading="lazy">
							<!--Simple image-->
							<div class="vlt-simple-image">
								<div class="vlt-simple-image__mask" data-aos="image-mask-animation" data-aos-delay="0">
									<div class="inside"></div>
								</div><img src="assets/img/service-image-01.png" alt="" loading="lazy">
							</div>
						</div>
						<div class="vlt-gap-60--sm"></div>
					</div>
					<div class="col-md-5 offset-md-2">
						<!--Animated block-->
						<div class="vlt-animated-block" data-aos="fade" data-aos-delay="100">
							<h2>Creative & Design</h2>
							<div class="vlt-gap-40"></div>
							<p>Darkness they're, moved whales great or void great man one man from blessed so our good face was fruitful sixth male kind.</p>
							<div class="vlt-gap-40"></div>
							<div class="has-black-color">
								<!--Styled list-->
								<ul class="vlt-styled-list vlt-styled-list--style-3">
									<li>Product design
									</li>
									<li>Brand design
									</li>
									<li>Web &amp; Mobile design
									</li>
								</ul>
							</div>
							<div class="vlt-gap-50"></div>
							<!--Button--><a class="vlt-btn vlt-btn--secondary vlt-btn--md" href="service-single.html" target="_self">View service</a>
						</div>
					</div>
				</div>
			</div>
			<div class="vlt-gap-120"></div>
			<div class="vlt-gap-120"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-5 offset-md-2 order-md-5">
						<div class="position-relative">
							<!--Particle image--><img class="vlt-particle" src="assets/img/service-image-05.png" data-animation-name="fadeInUp" alt="" style="position: absolute; top: -120px; left: -100px; max-width: 263px; --animate-delay: 1s;" loading="lazy">
							<!--Simple image-->
							<div class="vlt-simple-image">
								<div class="vlt-simple-image__mask" data-aos="image-mask-animation" data-aos-delay="0">
									<div class="inside"></div>
								</div><img src="assets/img/service-image-02.png" alt="" loading="lazy">
							</div>
						</div>
						<div class="vlt-gap-60--sm"></div>
					</div>
					<div class="col-md-5">
						<!--Animated block-->
						<div class="vlt-animated-block" data-aos="fade" data-aos-delay="100">
							<h2>Development</h2>
							<div class="vlt-gap-40"></div>
							<p>Darkness they're, moved whales great or void great man one man from blessed so our good face was fruitful sixth male kind.</p>
							<div class="vlt-gap-40"></div>
							<div class="has-black-color">
								<!--Styled list-->
								<ul class="vlt-styled-list vlt-styled-list--style-3">
									<li>Web development
									</li>
									<li>Mobile development
									</li>
									<li>Data &amp; Analytics
									</li>
								</ul>
							</div>
							<div class="vlt-gap-50"></div>
							<!--Button--><a class="vlt-btn vlt-btn--secondary vlt-btn--md" href="service-single.html" target="_self">View service</a>
						</div>
					</div>
				</div>
			</div>
			<div class="vlt-gap-120"></div>
			<div class="vlt-gap-120"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<div class="position-relative">
							<!--Particle image--><img class="vlt-particle" src="assets/img/service-image-06.png" data-animation-name="fadeInUp" alt="" style="position: absolute; top: -120px; right: -100px; max-width: 263px; --animate-delay: 1s;" loading="lazy">
							<!--Simple image-->
							<div class="vlt-simple-image">
								<div class="vlt-simple-image__mask" data-aos="image-mask-animation" data-aos-delay="0">
									<div class="inside"></div>
								</div><img src="assets/img/service-image-03.png" alt="" loading="lazy">
							</div>
						</div>
						<div class="vlt-gap-60--sm"></div>
					</div>
					<div class="col-md-5 offset-md-2">
						<!--Animated block-->
						<div class="vlt-animated-block" data-aos="fade" data-aos-delay="100">
							<h2>Brand Research</h2>
							<div class="vlt-gap-40"></div>
							<p>Darkness they're, moved whales great or void great man one man from blessed so our good face was fruitful sixth male kind.</p>
							<div class="vlt-gap-40"></div>
							<div class="has-black-color">
								<!--Styled list-->
								<ul class="vlt-styled-list vlt-styled-list--style-3">
									<li>User research
									</li>
									<li>Product &amp; Brand strategy
									</li>
									<li>Technology strategy
									</li>
								</ul>
							</div>
							<div class="vlt-gap-50"></div>
							<!--Button--><a class="vlt-btn vlt-btn--secondary vlt-btn--md" href="service-single.html" target="_self">View service</a>
						</div>
					</div>
				</div>
			</div>
			<div class="vlt-gap-120"></div>
		</section>
		<!--Section-->
		<section class="has-extra-light-gray-background-color has-black-color">
			<div class="vlt-gap-120"></div>
			<div class="container-fluid p-0">
				<!--Animated block-->
				<div class="vlt-animated-block" data-aos="fade" data-aos-delay="0">
					<!--Content slider-->
					<div class="vlt-content-slider " data-navigation-anchor=".vlt-testimonials-slider-anchor" data-gap="30" data-loop="enable" data-speed="" data-autoplay="" data-autoplay-speed="" data-slides-centered="enable" data-slide-settings="{&quot;slides_to_show&quot;:&quot;auto&quot;,&quot;slides_to_show_mobile&quot;:1}" data-free-mode="" data-slider-offset="" data-mousewheel="">
						<div class="swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<!--Testimonial-->
									<div class="vlt-testimonial vlt-testimonial--style-3">
										<div class="vlt-testimonial__meta">
											<div class="vlt-testimonial__avatar"><img src="assets/img/testimonial-avatar-01.png" alt="" loading="lazy"></div>
											<div>
												<h6 class="vlt-testimonial__title">Peter Daniels
												</h6><span class="vlt-testimonial__function">President / CEO Indesign Inc.</span>
											</div>
										</div>
										<div class="vlt-testimonial__content">“ Behold you lesser our let seed there for and light great lights that seasons seasons light second give midst. ”
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<!--Testimonial-->
									<div class="vlt-testimonial vlt-testimonial--style-3">
										<div class="vlt-testimonial__meta">
											<div class="vlt-testimonial__avatar"><img src="assets/img/testimonial-avatar-02.png" alt="" loading="lazy"></div>
											<div>
												<h6 class="vlt-testimonial__title">Hillary Morris
												</h6><span class="vlt-testimonial__function">President / CEO Indesign Inc.</span>
											</div>
										</div>
										<div class="vlt-testimonial__content">“ Living blessed heaven she'd yielding bring were to great may gathering fill firmament form night likeness our don't you'll moved. ”
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<!--Testimonial-->
									<div class="vlt-testimonial vlt-testimonial--style-3">
										<div class="vlt-testimonial__meta">
											<div class="vlt-testimonial__avatar"><img src="assets/img/testimonial-avatar-03.png" alt="" loading="lazy"></div>
											<div>
												<h6 class="vlt-testimonial__title">Edward Palmer
												</h6><span class="vlt-testimonial__function">President / CEO Inde.</span>
											</div>
										</div>
										<div class="vlt-testimonial__content">“ Beast seed unto third, him tree make void from subdue signs may our without creature first time, at the midst. ”
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="vlt-gap-80"></div>
					<div class="text-center">
						<!--Slider controls-->
						<div class="vlt-slider-controls vlt-slider-controls--style-1 vlt-testimonials-slider-anchor has-black-color">
							<div class="vlt-swiper-button-prev"><i class="icon-arrow-left"></i>
							</div>
							<div class="vlt-swiper-pagination"></div>
							<div class="vlt-swiper-button-next"><i class="icon-arrow-right"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="vlt-gap-100"></div>
			<div class="container">
				<div class="d-block d-lg-flex justify-content-lg-between">
					<!--Animated block-->
					<div class="vlt-animated-block" data-aos="fade" data-aos-delay="0">
						<!--Partner-->
						<div class="vlt-partner vlt-partner--center"><a href="#"><img src="assets/img/root/clients/client-logo-01.png" alt="" loading="lazy" style="height:30px;"></a>
						</div>
					</div>
					<div class="vlt-gap-40--md"></div>
					<!--Animated block-->
					<div class="vlt-animated-block" data-aos="fade" data-aos-delay="100">
						<!--Partner-->
						<div class="vlt-partner vlt-partner--center"><a href="#"><img src="assets/img/root/clients/client-logo-02.png" alt="" loading="lazy" style="height:40px;"></a>
						</div>
					</div>
					<div class="vlt-gap-40--md"></div>
					<!--Animated block-->
					<div class="vlt-animated-block" data-aos="fade" data-aos-delay="200">
						<!--Partner-->
						<div class="vlt-partner vlt-partner--center"><a href="#"><img src="assets/img/root/clients/client-logo-03.png" alt="" loading="lazy" style="height:30px;"></a>
						</div>
					</div>
					<div class="vlt-gap-40--md"></div>
					<!--Animated block-->
					<div class="vlt-animated-block" data-aos="fade" data-aos-delay="300">
						<!--Partner-->
						<div class="vlt-partner vlt-partner--center"><a href="#"><img src="assets/img/root/clients/client-logo-04.png" alt="" loading="lazy" style="height:40px;"></a>
						</div>
					</div>
					<div class="vlt-gap-40--md"></div>
					<!--Animated block-->
					<div class="vlt-animated-block" data-aos="fade" data-aos-delay="400">
						<!--Partner-->
						<div class="vlt-partner vlt-partner--center"><a href="#"><img src="assets/img/root/clients/client-logo-05.png" alt="" loading="lazy" style="height:20px;"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="vlt-gap-120"></div>
		</section>
	</div>
</main>
{% endblock main %} 