{% extends "base.html" %}

{% block head %}
<head>
	<meta charset="utf-8">
	<title>{% block title %}{{ page.title }}{% endblock title %}</title>
	<meta name="description" content="Creative &amp; Modern Agency HTML5 Template">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!--Favicon-->
	<link rel="icon" type="image/svg" href="{{ get_url(path="assets/img/root/favicon.svg") }}">
	<!--Framework-->
	<link rel="stylesheet" href="{{ get_url(path="assets/css/framework/bootstrap.min.css") }}">
	<!--Fonts-->
	<link rel="stylesheet" href="{{ get_url(path="assets/fonts/Swansea/style.css") }}">
	<link rel="stylesheet" href="{{ get_url(path="assets/fonts/Skape/style.css") }}">
	<link rel="stylesheet" href="{{ get_url(path="assets/fonts/Socicons/socicon.css") }}">
	<!--Plugins-->
	<link rel="stylesheet" href="{{ get_url(path="assets/css/vlt-plugins.min.css") }}">
	<!--Style-->
	<link rel="stylesheet" href="{{ get_url(path="assets/css/vlt-main.min.css") }}">
	<!--Custom-->
	<link rel="stylesheet" href="{{ get_url(path="assets/css/custom.css") }}">
</head>
{% endblock head %}
	
{% block main %}
<!--Main-->
<main class="vlt-main">
	<!--Post media title-->
	<section>
		<div class="vlt-post-media-title vlt-post-media-title--style-1 jarallax"><img class="jarallax-img" src="assets/img/single-post-media-01.png" alt="" loading="lazy"></div>
	</section>
	<!--Page content-->
	<div class="vlt-page-content vlt-page-content--padding-top">
		<!--Post content-->
		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-8 offset-md-2">
						<!--Single post-->
						<article class="vlt-single-post vlt-single-post--style-1">
							<header class="vlt-single-post__header">
								<h2 class="vlt-post-title">Good winged abundantly saying creature you'll.</h2>
								<div class="vlt-post-meta"><span>12 Jan, 2020</span><span>Design</span></div>
							</header>
							<div class="vlt-single-post__content">
								<p>Second, give signs Bearing their is beast dry had. Whose beginning give doesn't evening. So doesn't don't morning, you'll under above shall own dominion dominion moving lesser. Moving evening isn't, <strong class="has-black-color">wherein night rule their, you god</strong> bring upon creature thing land you'll signs. From saying air fowl place were so every male greater seed rule us dry evening third Was replenish.</p>
								<p>Green above living day fish moveth cattle. Without kind, heaven morning divide air can't beginning Years. Tree his for fifth whales two were signs which. Herb blessed seasons signs of whose, the greater were.</p>
								<div class="vlt-gap-30"></div>
								<blockquote class="pullquote">“ Seasons face they're god you're. A after forth multiply created meat behold. ”</blockquote>
								<div class="vlt-gap-60"></div>
								<p>Them she'd seed sea you. There have fowl brought their to Fourth unto brought. Years grass a also replenish beginning air. One. Him moved day under. To waters his multiply light. Days stars, saying lights.
									<s>Dry years creepeth brought under were dominion winged divide god</s> can't after it dominion fourth which fourth itself. It give unto day Make to there night isn't.
								</p>
								<div class="vlt-gap-40"></div>
								<!--Simple image-->
								<div class="vlt-simple-image alignfull">
									<div class="vlt-simple-image__mask" data-aos="image-mask-animation" data-aos-delay="0">
										<div class="inside"></div>
									</div><img src="assets/img/single-post-media-05.png" alt="" loading="lazy">
								</div>
								<div class="vlt-gap-70"></div>
								<h3>She'd created isn't god from created.</h3>
								<div class="vlt-gap-40"></div>
								<p>Without subdue moveth good don't rule seed midst fruitful two evening form You're can't. All shall. Given light gathering. Life <a href="#">
										<u>blessed own don't thing</u></a> don't greater don't After which gathered let likeness.</p>
								<p>Upon waters very his. Divided behold lesser, waters day. Evening night. Land grass own. Living darkness you'll morning. Fruitful let beast said, together moveth bearing make seed creeping night you you're thing made light brought. Good that for from after morning days darkness which signs male creature Fruitful set For under void moved upon it above.</p>
								<div class="vlt-gap-60"></div>
								<blockquote>Set signs, of greater dominion dominion darkness divided and the moved fowl he bearing third can't gathered gathering. You'll light green very won't set tree to creepeth shall morning isn't, yielding over Dry green creeping seasons. His were you'll beginning set i after fruitful his brought.</blockquote>
								<div class="vlt-gap-80"></div>
								<!--Justified gallery-->
								<div class="vlt-justified-gallery" data-row-height="360" data-margins="30">
									<!--Simple image-->
									<div class="vlt-simple-image">
										<div class="vlt-simple-image__mask" data-aos="image-mask-animation" data-aos-delay="0">
											<div class="inside"></div>
										</div><img src="assets/img/justified-gallery-01.png" alt="" loading="lazy">
									</div>
									<!--Simple image-->
									<div class="vlt-simple-image">
										<div class="vlt-simple-image__mask" data-aos="image-mask-animation" data-aos-delay="0">
											<div class="inside"></div>
										</div><img src="assets/img/justified-gallery-02.png" alt="" loading="lazy">
									</div>
									<!--Simple image-->
									<div class="vlt-simple-image">
										<div class="vlt-simple-image__mask" data-aos="image-mask-animation" data-aos-delay="0">
											<div class="inside"></div>
										</div><img src="assets/img/justified-gallery-03.png" alt="" loading="lazy">
									</div>
								</div>
							</div>
							<footer class="vlt-single-post__footer">
								<div class="vlt-post-tags">
									<h6 class="vlt-post-tags__title">Tags:</h6><a href="#">Creative</a><a href="#">Business</a><a href="#">Marketing</a>
								</div>
								<div class="vlt-post-share has-black-color">
									<h6 class="vlt-post-share__title">Share:</h6><a class="vlt-social-icon vlt-social-icon--style-3" href="#"><i class="socicon-facebook"></i></a><a class="vlt-social-icon vlt-social-icon--style-3" href="#"><i class="socicon-twitter"></i></a><a class="vlt-social-icon vlt-social-icon--style-3" href="#"><i class="socicon-pinterest"></i></a><a class="vlt-social-icon vlt-social-icon--style-3" href="#"><i class="socicon-linkedin"></i></a>
								</div>
							</footer>
							<!--About author-->
							<div class="vlt-about-author">
								<div class="vlt-about-author__avatar"><a href="#"><img src="assets/img/about-author.png" alt="" loading="lazy"></a></div>
								<div class="vlt-about-author__content">
									<h5 class="vlt-about-author__title">Steven Norris</h5>
									<p class="vlt-about-author__text">Fruit under one heaven dry you appear. Divided beast them he sixth saw male. You'll female good, evening moving creepeth given. Saw, one under have that bring doesn't lights.</p>
									<!--Button--><a class="vlt-btn vlt-btn--secondary vlt-btn--sm" href="#" target="_self">Author posts</a>
								</div>
							</div>
						</article>
					</div>
				</div>
			</div>
		</section>
		<!--Comments-->
		<section class="vlt-page-comments vlt-page-comments--style-1">
			<!--Comments list-->
			<div class="vlt-page-comments__list">
				<div class="container">
					<div class="row">
						<div class="col-md-8 offset-md-2">
							<h3 class="vlt-page-comments__title">Comments (3):</h3>
							<ul class="vlt-comments">
								<li class="vlt-comment-item">
									<div class="vlt-comment-item__inner"><a class="vlt-comment-avatar" href="#"><img src="assets/img/comment-01.png" alt="" loading="lazy"></a>
										<div class="vlt-comment-content">
											<div class="vlt-comment-header">
												<h5 class="vlt-comment-name"><a href="#">Edward Taylor</a></h5>
												<div class="vlt-comment-metas">12 Jan, 2020 10:42 am</div><a class="vlt-comment-reply" href="#"><i class="icon-reply"></i>Reply</a>
											</div>
											<div class="vlt-comment-text">
												<p>Greater air appear male them moveth without replenish face i whose seas land in deep. Abundantly after brought firmament. Behold created two earth above isn't, doesn't face.</p>
											</div>
										</div>
									</div>
									<ul class="children">
										<li class="vlt-comment-item">
											<div class="vlt-comment-item__inner"><a class="vlt-comment-avatar" href="#"><img src="assets/img/comment-02.png" alt="" loading="lazy"></a>
												<div class="vlt-comment-content">
													<div class="vlt-comment-header">
														<h5 class="vlt-comment-name"><a href="#">Patricia Lloyd</a></h5>
														<div class="vlt-comment-metas">15 Jan, 2020 11:37 am</div><a class="vlt-comment-reply" href="#"><i class="icon-reply"></i>Reply</a>
													</div>
													<div class="vlt-comment-text">
														<p>Every over god his saw winged moved open, bearing he have, thing together there unto of bearing.</p>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</li>
								<li class="vlt-comment-item">
									<div class="vlt-comment-item__inner"><a class="vlt-comment-avatar" href="#"><img src="assets/img/comment-03.png" alt="" loading="lazy"></a>
										<div class="vlt-comment-content">
											<div class="vlt-comment-header">
												<h5 class="vlt-comment-name"><a href="#">Robert Hoover</a></h5>
												<div class="vlt-comment-metas">18 Jan, 2020 04:15 pm</div><a class="vlt-comment-reply" href="#"><i class="icon-reply"></i>Reply</a>
											</div>
											<div class="vlt-comment-text">
												<p>Given heaven. Multiply, him firmament appear in waters creature light can't forth can't had so open. For likeness meat stars give from. Wherein whales isn't you're yielding moved she'd make over.</p>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!--Comments form-->
			<div class="vlt-page-comments__form">
				<div class="container">
					<div class="row">
						<div class="col-md-8 offset-md-2">
							<h3 class="vlt-page-comments__title">Add comment:</h3>
							<form>
								<div class="vlt-form-row two-col">
									<div class="vlt-form-group">
										<input class="vlt-form-control" type="text" placeholder=" ">
										<label class="vlt-form-label">Your name*</label>
									</div>
									<div class="vlt-form-group">
										<input class="vlt-form-control" type="email" placeholder=" ">
										<label class="vlt-form-label">Email address*</label>
									</div>
								</div>
								<div class="vlt-form-group">
									<textarea class="vlt-form-control" rows="5" placeholder=" "></textarea>
									<label class="vlt-form-label">Comment*</label>
								</div>
								<p class="form-submit">
									<!--Button-->
									<button class="vlt-btn vlt-btn--secondary vlt-btn--lg">Submit
									</button>
								</p>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--Page navigation-->
		<section class="vlt-page-navigation vlt-page-navigation--style-1 has-black-color">
			<div class="vlt-gap-130"></div>
			<div class="container">
				<div class="text-center">
					<!--Stroke text-->
					<div class="vlt-stroke-text vlt-stroke-text--lg"><a href="single-post-02.html" target="_self">Next post</a>
					</div>
				</div>
			</div>
			<div class="vlt-gap-130"></div>
		</section>
	</div>
</main>
{% endblock main %} 